* {
  box-sizing: border-box;
}

body {
  background: url(https://wallpaperaccess.com/full/415834.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Frijole';

}
.App {
  text-align: center;


}
.landing-page {
  color: whitesmoke;

}

#page-wrap {
  text-align: center;

  /* Prevent sidebar from showing a scrollbar on page */
  overflow: auto;
}

/* Individual item */
.bm-item {
  display: inline-block;
  text-decoration: none;
  margin-bottom: 8px;
  color: #d1d1d1;
  transition: color 0.3s;
  padding: 2vw;
  outline: none;
  font-size: 24px;
  font-family: 'Nosifer' ;
  
}

/* Change color on hover */
.bm-item:hover {
  cursor: pointer;
  animation: tada;
  animation-duration: 2s;
  animation-delay: 0;
  animation-iteration-count: infinite;
  color: rgb(238, 160, 14);
  font-weight: bolder;
}

/* The rest copied directly from react-burger-menu docs */

/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  right: 36px;
  top: 36px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: whitesmoke;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 32px;
  width: 32px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/* General sidebar styles */
.bm-menu {
  background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);  opacity: 0.8;
  padding: 2.5em 1.5em 1em;
  font-size: 2.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}



.landing-page {
  display: flex;
  flex-wrap: wrap;
}

.about-page {
  display: flex;
  flex-wrap: wrap;
  padding: 10vw 15vw;
  color: whitesmoke;
}
.about-page p {
  font-family: 'Rationale';
  font-size: 34px;
  padding: 10px;
  margin: 10px;
  line-height: 1.5em;
  animation: zoomIn;
  animation-duration: 4s;
  animation-delay: 0.4s;
  animation-iteration-count: 1;
}

.projects-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
	margin: 5vw 3vw 3vw 5vw;
	min-width: 300px;
  font-family: 'Rationale';
}

.projects-grid .card-text {
  font-size: 20px;
  line-height: 1.2;
}

/* contact page css */

.contact-body {
  display:flex;
  flex-wrap: wrap;
  margin: auto;
  font-family: 'Nosifer';
  width: 100%;
  height: 100%;
  justify-content: center;
  padding-top: 10vw;
  color: white;
}

.contact-grid {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  width: 80%;
  height: auto;
  background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
  opacity: 0.9;
  color: black;
  margin-bottom: 5vw;
  border: none;
}
.contact-grid img {
  margin-top: 2vw;
}

.contact-grid h2 {
  font-family: 'Nosifer';
  
}
.contact-list i {
  font-size: 36px;
}
.contact-grid p {
  font-family: 'Nosifer';
  font-weight: bold;
}

.contact-grid hr {
  border-top: 5px dotted black;
  width: 50%;
  margin: auto;
}

.contact-list {
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 44px;
  padding-right: 3rem;
  margin-left: 5vw;
}


/* contact page css */

.my-icon {
  height: 180px;
  width: auto;
  border: 2px solid rgb(238, 160, 14);
  position:fixed;
  top: 0;
  left: 0;
  border-radius:50%;
  margin: 1vw;
}

.banner-text {
  background-color: transparent;
  opacity: 1;
  width: 75%;
  color: whitesmoke;
  margin: auto;
  border-radius: 10px;
  font-family: "Federant";
  padding-top: 15vw;

}

.banner-text h1 {
  font-size: 48px;
  color:whitesmoke;
  font-family: 'Frijole' ;
  
}
.banner-text h2 {
  font-size: 36px;
  color:whitesmoke;
  font-family: 'Frijole';
}
.banner-text hr {
  border-top: 5px dotted whitesmoke;
  width: 80%;
  margin: auto;
}

.banner-text p {
  color:whitesmoke;
  font-size: 20px;
  padding: 1em;
  font-family: 'Frijole';

}

.social-links {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin: auto;
}

.social-links i {
  color: white;
  font-size: 5em;
  padding: 8px;
}

.social-links i:hover {
  animation: heartBeat;
  animation-duration: 2s;
  animation-delay: 0;
  animation-iteration-count: infinite;
}

@media screen and (min-width:240px) and (max-width:512px) {

.bm-item {
  padding: 20px;
  font-size: 16px;
}
.bm-burger-button {
  width: 24px;
  height: 18px;
  right: 32px;
  top: 36px;
}
.bm-cross-button {
  height: 28px;
  width: 26px;
}
.bm-menu {
  padding: 5em 0.1em 3em;
  font-size: 1.8em;
}
.App .bm-menu-wrap {
  width: 40vw !important;
}

.about-page {
  padding-top: 25vw;
  margin: 0;
}

.about-page p {
  font-size: 20px;
  padding: 0;
  margin: 0;
}

.projects-grid {
  width: 80px;
  margin: 15vw 2vw 2vw 3vw;
}
.projects-grid .card-text {
  font-size: 16px;
  line-height: 1.1;
}

.contact-body {
  padding-top: 18vw;
}
.contact-list {
  padding-right: 0;
  margin-left: 0;
}
.contact-grid {
  width: 85%;
  margin-bottom: 1vw;
}

.contact-grid img {
  height: 200px;
  margin-top: 2vw;
}

.contact-grid i {
  font-size: 18px;

}
.contact-grid h2 {
  font-size: 24px;

}
.contact-grid hr {
  border-top: 3px dotted black;
  width: 70%;
  margin-top: -20px;
}

.my-icon {
  height:100px;
  margin: 5vw;
}

.banner-text {
  padding-top: 50vw;
}

.banner-text h1 {
  font-size: 28px;
}
.banner-text h2 {
  font-size: 22px;
}
.banner-text p {
  font-size: 14px;
}
.social-links i {
  font-size: 3em;
  padding: 5px;
}

}

@media screen and (min-width:513px) and (max-width:1096px) {
  .bm-item {
    padding: 20px;
    font-size: 24px;
  }
  .bm-burger-button {
    width: 32px;
    height: 24px;
    right: 32px;
    top: 36px;
  }
  .bm-cross-button {
    height: 38px;
    width: 40px;
  }
  .bm-menu {
    padding: 5em 0.1em 3em;
    font-size: 2.2em;
  }
  .App .bm-menu-wrap {
    width: 40vw !important;
  }
  
  .about-page {
    padding-top: 25vw;
    margin: 0;
  }
  
  .about-page p {
    font-size: 36px;
    padding: 0;
    margin: 0;
  }
  .projects-grid .card-text {
    font-size: 19px;
    line-height: 1.2;
  }
 
  .contact-body {
    padding-top: 24vw;
  }
  .contact-list {
    padding-right: 0;
    margin-left: 0;
  }
  .contact-grid {
    width: 90%;
    margin-bottom: 1vw;
  }
  
  .contact-grid img {
    height: 300px;
    margin-top: 2vw;
  }
  
  .contact-grid i {
    font-size: 32px;
  
  }
  .contact-grid h2 {
    font-size: 30px;
  
  }
  .contact-grid hr {
    border-top: 3px dotted black;
    width: 80%;
    margin-top: -20px;
  }
  
  .my-icon {
    height:180px;
    margin: 5vw;
  }
  
  .banner-text {
    padding-top: 40vw;
  }
  
  .banner-text h1 {
    font-size: 36px;
  }
  .banner-text h2 {
    font-size: 30px;
  }
  .banner-text p {
    font-size: 22px;
  }
  .social-links i {
    font-size: 5em;
    padding: 5px;
  }


}